extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="jquery/dist/jquery.min.js")
  script(src="/socket.io-client/dist/socket.io.js")
  #blocks
  each img in data
    img(src=img)      

  script.
    
  